<!-- formulario de contacto en html y css -->

<div class="contact_form">
  <h1>Formulario de contacto</h1>
  <h3>Escríbenos y en breve los pondremos en contacto contigo</h3>

  <form name="fvalida">
    <table>
      <tr>
        <td>Nombre:</td>
        <td><input type="text" name="nombre" size="30" maxlength="100" /></td>
      </tr>
      <tr>
        <td>Edad:</td>
        <td><input type="text" name="edad" size="3" maxlength="2" /></td>
      </tr>
      <tr>
        <td>Interés:</td>
        <td>
          <select name="interes">
            <option value="Elegir">Elegir</option>
            <option value="Comercial">Contacto comercial</option>
            <option value="Clientes">Atención al cliente</option>
            <option value="Proveedores">Contacto de proveedores</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <input type="button" value="Enviar" onclick="" />
        </td>
      </tr>
    </table>
  </form>
</div>
